<div>
  <h2 id="page-heading" data-cy="EtablissementHeading">
    <span jhiTranslate="dbGestionMatricule5App.etablissement.home.title">Etablissements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dbGestionMatricule5App.etablissement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etablissement"
        [routerLink]="['/etablissement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dbGestionMatricule5App.etablissement.home.createLabel"> Create a new Etablissement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etablissements?.length === 0">
    <span jhiTranslate="dbGestionMatricule5App.etablissement.home.notFound">No etablissements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="etablissements && etablissements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomEtab">
            <span jhiTranslate="dbGestionMatricule5App.etablissement.nomEtab">Nom Etab</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="typeEtab">
            <span jhiTranslate="dbGestionMatricule5App.etablissement.typeEtab">Type Etab</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="statut">
            <span jhiTranslate="dbGestionMatricule5App.etablissement.statut">Statut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresse">
            <span jhiTranslate="dbGestionMatricule5App.etablissement.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="dbGestionMatricule5App.etablissement.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <span jhiTranslate="dbGestionMatricule5App.etablissement.latitude">Latitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="longitude">
            <span jhiTranslate="dbGestionMatricule5App.etablissement.longitude">Longitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="matriculeEtab">
            <span jhiTranslate="dbGestionMatricule5App.etablissement.matriculeEtab">Matricule Etab</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="localite.departement">
            <span jhiTranslate="dbGestionMatricule5App.etablissement.localite">Localite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inspection.nomInsp">
            <span jhiTranslate="dbGestionMatricule5App.etablissement.inspection">Inspection</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="filiereEtude.filiere">
            <span jhiTranslate="dbGestionMatricule5App.etablissement.filiereEtude">Filiere Etude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="serieEtude.serie">
            <span jhiTranslate="dbGestionMatricule5App.etablissement.serieEtude">Serie Etude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let etablissement of etablissements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etablissement', etablissement.id, 'view']">{{ etablissement.id }}</a>
          </td>
          <td>{{ etablissement.nomEtab }}</td>
          <td jhiTranslate="{{ 'dbGestionMatricule5App.TypeEtab.' + etablissement.typeEtab }}">{{ etablissement.typeEtab }}</td>
          <td jhiTranslate="{{ 'dbGestionMatricule5App.StatutEtab.' + etablissement.statut }}">{{ etablissement.statut }}</td>
          <td>{{ etablissement.adresse }}</td>
          <td>{{ etablissement.email }}</td>
          <td>{{ etablissement.latitude }}</td>
          <td>{{ etablissement.longitude }}</td>
          <td>{{ etablissement.matriculeEtab }}</td>
          <td>
            <div *ngIf="etablissement.localite">
              <a [routerLink]="['/localite', etablissement.localite?.id, 'view']">{{ etablissement.localite?.departement }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="etablissement.inspection">
              <a [routerLink]="['/inspection', etablissement.inspection?.id, 'view']">{{ etablissement.inspection?.nomInsp }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="etablissement.filiereEtude">
              <a [routerLink]="['/filiere-etude', etablissement.filiereEtude?.id, 'view']">{{ etablissement.filiereEtude?.filiere }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="etablissement.serieEtude">
              <a [routerLink]="['/serie-etude', etablissement.serieEtude?.id, 'view']">{{ etablissement.serieEtude?.serie }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etablissement', etablissement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/etablissement', etablissement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(etablissement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
