<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-bulletin-heading"
        data-cy="BulletinCreateUpdateHeading"
        jhiTranslate="dbGestionMatricule5App.bulletin.home.createOrEditLabel"
      >
        Create or edit a Bulletin
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dbGestionMatricule5App.bulletin.nomsemestre" for="field_nomsemestre">Nomsemestre</label>
          <select class="form-control" name="nomsemestre" formControlName="nomsemestre" id="field_nomsemestre" data-cy="nomsemestre">
            <option [ngValue]="null">{{ 'dbGestionMatricule5App.NomSemestre.null' | translate }}</option>
            <option *ngFor="let nomSemestre of nomSemestreValues" [value]="nomSemestre">
              {{ 'dbGestionMatricule5App.NomSemestre.' + nomSemestre | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dbGestionMatricule5App.bulletin.annee" for="field_annee">Annee</label>
          <div class="input-group">
            <input
              id="field_annee"
              data-cy="annee"
              type="text"
              class="form-control"
              name="annee"
              ngbDatepicker
              #anneeDp="ngbDatepicker"
              formControlName="annee"
            />
            <button type="button" class="btn btn-secondary" (click)="anneeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('annee')!.invalid && (editForm.get('annee')!.dirty || editForm.get('annee')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('annee')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dbGestionMatricule5App.bulletin.moyenne" for="field_moyenne">Moyenne</label>
          <input type="number" class="form-control" name="moyenne" id="field_moyenne" data-cy="moyenne" formControlName="moyenne" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dbGestionMatricule5App.bulletin.serie" for="field_serie">Serie</label>
          <select class="form-control" name="serie" formControlName="serie" id="field_serie" data-cy="serie">
            <option [ngValue]="null">{{ 'dbGestionMatricule5App.Serie.null' | translate }}</option>
            <option *ngFor="let serie of serieValues" [value]="serie">{{ 'dbGestionMatricule5App.Serie.' + serie | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dbGestionMatricule5App.bulletin.filiere" for="field_filiere">Filiere</label>
          <select class="form-control" name="filiere" formControlName="filiere" id="field_filiere" data-cy="filiere">
            <option [ngValue]="null">{{ 'dbGestionMatricule5App.Filiere.null' | translate }}</option>
            <option *ngFor="let filiere of filiereValues" [value]="filiere">
              {{ 'dbGestionMatricule5App.Filiere.' + filiere | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dbGestionMatricule5App.bulletin.niveau" for="field_niveau">Niveau</label>
          <select class="form-control" name="niveau" formControlName="niveau" id="field_niveau" data-cy="niveau">
            <option [ngValue]="null">{{ 'dbGestionMatricule5App.Niveau.null' | translate }}</option>
            <option *ngFor="let niveau of niveauValues" [value]="niveau">
              {{ 'dbGestionMatricule5App.Niveau.' + niveau | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dbGestionMatricule5App.bulletin.moyenneGenerale" for="field_moyenneGenerale"
            >Moyenne Generale</label
          >
          <input
            type="number"
            class="form-control"
            name="moyenneGenerale"
            id="field_moyenneGenerale"
            data-cy="moyenneGenerale"
            formControlName="moyenneGenerale"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dbGestionMatricule5App.bulletin.rang" for="field_rang">Rang</label>
          <input type="text" class="form-control" name="rang" id="field_rang" data-cy="rang" formControlName="rang" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dbGestionMatricule5App.bulletin.noteConduite" for="field_noteConduite"
            >Note Conduite</label
          >
          <input
            type="number"
            class="form-control"
            name="noteConduite"
            id="field_noteConduite"
            data-cy="noteConduite"
            formControlName="noteConduite"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dbGestionMatricule5App.bulletin.matricule" for="field_matricule">Matricule</label>
          <input type="text" class="form-control" name="matricule" id="field_matricule" data-cy="matricule" formControlName="matricule" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dbGestionMatricule5App.bulletin.apprenant" for="field_apprenant">Apprenant</label>
          <select class="form-control" id="field_apprenant" data-cy="apprenant" name="apprenant" formControlName="apprenant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="apprenantOption.id === editForm.get('apprenant')!.value?.id ? editForm.get('apprenant')!.value : apprenantOption"
              *ngFor="let apprenantOption of apprenantsSharedCollection; trackBy: trackApprenantById"
            >
              {{ apprenantOption.nomCompletApp }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dbGestionMatricule5App.bulletin.demandeDossier" for="field_demandeDossier"
            >Demande Dossier</label
          >
          <select
            class="form-control"
            id="field_demandeDossier"
            data-cy="demandeDossier"
            name="demandeDossier"
            formControlName="demandeDossier"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                demandeDossierOption.id === editForm.get('demandeDossier')!.value?.id
                  ? editForm.get('demandeDossier')!.value
                  : demandeDossierOption
              "
              *ngFor="let demandeDossierOption of demandeDossiersSharedCollection; trackBy: trackDemandeDossierById"
            >
              {{ demandeDossierOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
