<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="classe">
      <h2 data-cy="classeDetailsHeading"><span jhiTranslate="dbGestionMatricule5App.classe.detail.title">Classe</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ classe.id }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.classe.nomClasse">Nom Classe</span></dt>
        <dd>
          <span>{{ classe.nomClasse }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.classe.etablissement">Etablissement</span></dt>
        <dd>
          <div *ngIf="classe.etablissement">
            <a [routerLink]="['/etablissement', classe.etablissement?.id, 'view']">{{ classe.etablissement?.nomEtab }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.classe.programme">Programme</span></dt>
        <dd>
          <div *ngIf="classe.programme">
            <a [routerLink]="['/programme', classe.programme?.id, 'view']">{{ classe.programme?.nomModule }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.classe.niveauEtude">Niveau Etude</span></dt>
        <dd>
          <div *ngIf="classe.niveauEtude">
            <a [routerLink]="['/niveau-etude', classe.niveauEtude?.id, 'view']">{{ classe.niveauEtude?.niveau }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/classe', classe.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
