<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="demandeMatApp">
      <h2 data-cy="demandeMatAppDetailsHeading">
        <span jhiTranslate="dbGestionMatricule5App.demandeMatApp.detail.title">Demande Mat App</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ demandeMatApp.id }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.demandeMatApp.nom">Nom</span></dt>
        <dd>
          <span>{{ demandeMatApp.nom }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.demandeMatApp.prenom">Prenom</span></dt>
        <dd>
          <span>{{ demandeMatApp.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.demandeMatApp.email">Email</span></dt>
        <dd>
          <span>{{ demandeMatApp.email }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.demandeMatApp.telephone">Telephone</span></dt>
        <dd>
          <span>{{ demandeMatApp.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.demandeMatApp.dateNaissance">Date Naissance</span></dt>
        <dd>
          <span>{{ demandeMatApp.dateNaissance | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.demandeMatApp.sexe">Sexe</span></dt>
        <dd>
          <span jhiTranslate="{{ 'dbGestionMatricule5App.Sexe.' + demandeMatApp.sexe }}">{{ demandeMatApp.sexe }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.demandeMatApp.matriculeApp">Matricule App</span></dt>
        <dd>
          <span>{{ demandeMatApp.matriculeApp }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/demande-mat-app', demandeMatApp.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
