<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="personnel">
      <h2 data-cy="personnelDetailsHeading"><span jhiTranslate="dbGestionMatricule5App.personnel.detail.title">Personnel</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ personnel.id }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.personnel.nomPers">Nom Pers</span></dt>
        <dd>
          <span>{{ personnel.nomPers }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.personnel.prenomPers">Prenom Pers</span></dt>
        <dd>
          <span>{{ personnel.prenomPers }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.personnel.responsabilite">Responsabilite</span></dt>
        <dd>
          <span jhiTranslate="{{ 'dbGestionMatricule5App.Responsabilite.' + personnel.responsabilite }}">{{
            personnel.responsabilite
          }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.personnel.email">Email</span></dt>
        <dd>
          <span>{{ personnel.email }}</span>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.personnel.etablissement">Etablissement</span></dt>
        <dd>
          <div *ngIf="personnel.etablissement">
            <a [routerLink]="['/etablissement', personnel.etablissement?.id, 'view']">{{ personnel.etablissement?.nomEtab }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dbGestionMatricule5App.personnel.inspection">Inspection</span></dt>
        <dd>
          <div *ngIf="personnel.inspection">
            <a [routerLink]="['/inspection', personnel.inspection?.id, 'view']">{{ personnel.inspection?.nomInsp }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/personnel', personnel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
